.bg-beige {
  background: #FFF1E5;
}

.svg-beige {
  circle {
    stroke: #E0CDBC;
  }

  path {
    stroke: #E0CDBC;
  }

  .svg-change {
    fill: #E0CDBC;
  }
}

.text-beige {
  color: #261406 !important;
}

.text-beige-secondary {
  color: #726F6D !important;
}

.btn-beige {
  color: #261406 !important;
  background: #FFF1E5 !important;
  border: 1px solid #E0CDBC !important;
}

.coffee-logo {
  width: 86px;
}