.header {
  padding: 8px 0;
  height: 56px;
  > .container {
    height: 100%;
  }
}

.header__wrap {
  display: flex;
  position: relative;
  height: 100%;
  align-items: center;
}

.header__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__qr {
  margin-left: auto;
  width: 40px;
}

.hero {
  height: calc(100vh - 56px);
}

.hero__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 56px);
}

.hero__logo {
  width: 250px;
  margin-bottom: 69px;
}

.hero__info {
  text-align: center;
}

.header__backlink {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #17181a;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: 1px;
    bottom: 3px;
    background: #17181a;
  }
}
.hero__title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #17181a;
}

.hero__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  max-width: 311px;
  margin: 16px auto 0;
  text-align: center;
  color: #6d6f72;
}

.hero__btn {
  margin-top: 32px;
  &::before {
    background-image: url(../img/btn_start.svg);
    width: 20px;
    height: 13px;
  }
}

.footer-link {
  margin-top: auto;
  text-align: center;
  position: absolute;
  bottom: 32px;
  a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    position: relative;
    color: #17181a;
    text-decoration: underline;
  }
}

@media screen and (max-width: 320px) {
  .hero__logo {
    margin-bottom: 30px;
  }

  .hero {
    //background: url(../img/home_bg.svg) no-repeat top 340px left 0/100%;
  }
}
